.wrapper {
  display: flex;
  height: 100%;
}

.cards {

//   grid-gap: 16px;

  text-align: center;
 }

.group-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-items: center;
  align-items: center;
  text-align: center
}

.name {
  margin-bottom: 0;
  margin-left: 8px;
  font-size: 14px;
}

.name-opacity {
  margin-bottom: 0;
  margin-left: 8px;
  opacity: 0.5;
}

.xmark {
  margin-bottom: 0;
  margin-left: 8px;
  display: none;
}

.test:hover {
  .xmark {
    display: block;
    color: black;
    opacity: 0.6;
  }
  .xmark:hover {
    opacity: 1;
  }
}


.group-card {
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
}
