.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-items: center;
  align-items: center;
  text-align: center
}

.group-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-items: center;
  align-items: center;
  text-align: center
}

.group-card {

}
